@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

:root {
  --font-main: "Ubuntu", sans-serif;
  --font-kecil: "Merriweather", serif;
  --color1: #000000;
  --color2: rgba(255, 255, 255, 0.1);
  --color3: #d8d8d8;
  --color4: #7865cc;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Navbar */

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: var(--color1);
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  height: 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.logo a {
  font-family: var(--font-main);
  float: right;
  font-size: 25px;
  text-decoration: none;
  color: var(--color3);
  margin-right: 80px;
  margin-top: 15px;
}

.logo a:hover {
  cursor: pointer;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
}

.navbar ul li a {
  cursor: pointer;
  font-size: 14px;
  font-family: var(--font-main);
  color: var(--color3);
  border-bottom: 3px solid transpvar(--color1);
  text-decoration: none;
  margin: 5px;
  padding: 10px 20px 10px 20px;
  transition: border-bottom ease-in 0.5s, color ease-in 0.5s;
}

.navbar ul li a:hover {
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid var(--color4);
  color: var(--color4) !important;
}
/* 9494959691 */

/* Home */

.slide-text {
  position: absolute;
  top: 45vh;
  left: 35vh;
  font-family: var(--font-main);
  font-weight: bold !important;
  font-size: 60px;
  text-align: center;
  color: var(--color3);
  text-shadow: 5px 5px rgba(0, 0, 0, 0.8);
}

.home .slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* ABOUT */

.about {
  background-color: var(--color1);
  color: var(--color3);
  display: flex;
  justify-content: space-between;
  height: 80vh;
}

.about .text-about {
  position: relative;
  top: 20vh;
  left: 20vh;
  width: 500px;
}

.text-about h2 {
  font-family: var(--font-main);
  font-size: 50px;
}

.text-about p {
  font-family: var(--font-kecil);
}

.about > .about-img > img {
  position: relative;
  top: 20%;
  left: 40%;
  height: 400px;
  width: 500px;
  object-fit: cover;
}

.about .img-tiban > img {
  position: relative;
  top: 30%;
  right: 30%;
  height: 400px;
  width: 500px;
  object-fit: cover;
}

/* Card */

.text-artikel {
  font-family: var(--font-main);
  color: var(--color3);
  font-size: 40px;
  font-weight: bold !important;
  padding-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}

article {
  background-color: var(--color1);
}

.card-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* overflow-y: hidden; */
}

.card {
  margin: 0 20px 40px 20px;
  background-color: var(--color3);
  color: var(--color1);
  width: 400px;
  height: 600px;
}

.card > img {
  /* border-radius: 10px 10px 0 0; */
  object-fit: cover;
  width: 400px;
  height: 300px;
}

.card > .judul-artikel,
.card > .isi-artikel {
  height: 100px;
  margin: 10px;
  padding-top: 5px;
}

.card-btn {
  width: 160px;
  margin: auto;
}

.card-btn a {
  border: 1px solid var(--color1);
  text-decoration: none;
  padding: 10px 60px 10px 60px;
  background-color: var(--color3);
  color: var(--color1);
  transition: background-color 0.3s, color 0.3s;
}

.card-btn a:hover {
  background-color: var(--color1);
  color: var(--color3);
}

/* HALAMAN ARTIKEL */

.content-artikel {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  color: var(--color3);
  /* padding: 900px; */
  text-align: center;
}

.content-artikel > img {
  margin-top: 90px;
  /* position: absolute;
  left: 10%;
  top: 90px; */
  width: 80%;
  height: 600px;
  object-fit: cover;
}

.content-artikel > .judul-artikel {
  text-align: center;
  font-family: var(--font-main);
  color: var(--color3);
  font-size: 40px;
}

.content-artikel .isi-artikel {
  color: var(--color3);
  font-family: var(--font-kecil);
  line-height: 20px;
  min-height: 100vh;
  margin-left: 30px;
}

.test > h2 {
  text-align: justify;
  margin-left: 40px;
  width: 599px;
}
